@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}





body {
  background-color: hsl(210, 46%, 95%);
  height: 100vh;
  font-family: 'Barlow Semi Condensed'; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-container {
  max-width: fit-content;
  display: grid;
  grid-auto-rows: 300px;
  grid-auto-columns: 250px;
  grid-template-areas: 
  'daniel daniel jonathan kira'
  'jeanette patrick patrick kira';
  grid-gap: 20px;
}

.card {
  border-radius: 10px;
  padding: 15px 30px;
  border: none;
  align-content: center;
  box-shadow: 10px 10px 19px 0px rgba(173, 173, 173, 0.46);
}


.card_quote {
  margin: 20px 0;
  line-height: 1.2em;
  font-size: 16px;
  font-weight: 700;
}

.testimonial_statement{
  font-size: 13px;
  opacity: 70%;
  font-weight: 500;
  line-height: 1.3rem
}

.heading {
  display:flex;
}

.heading div {
  margin-left: 15px;
  display:flex;
  flex-direction: column;
  justify-content:center;
}

.card_photo {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.card_name {
  font-size: 13px;
}

.verified {
  opacity: 50%;
  font-size: 11px;
  font-weight: 500;
}

img[name="daniel"] {
  border: 2px solid #fff;
}

img[name="patrick"] {
  border: 2px solid hsl(263, 55%, 52%);
}

.daniel_card {
  grid-area: daniel;
  background-color: hsl(263, 55%, 52%);
  color: #fff;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 70px;
}


.jonathan_card {
  grid-area: jonathan;
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}

.kira_card {
  grid-area: kira;
  background-color: #fff;
  color:hsl(219, 29%, 14%)
}

.jeanette_card {
  grid-area: jeanette;
  background-color: #fff;
  color:hsl(219, 29%, 14%)
}

.patrick_card {
  grid-area: patrick;
  background-color: hsl(219, 29%, 14%);
  color: #fff;
}



@media only screen and (max-width: 375px) {
  .testimonial-container{
    display:flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    padding: 0px 10px;
  }
    
}



/* 
@media (max-width:375px ) {
  .testimonial-container{
    display: grid;
    grid-template-areas:'daniel' 'jonathan' 'jeanette' 'patrick' 'kira';
  }

  .daniel_card{
    grid-area: daniel;
  }

  .jonathan_card{
    grid-area: jonathan;
  }

  .jeanette_card{
    grid-area: jeanette;
  }

  .patrick_card{
    grid-area: patrick;
  }

  .kira_card{
    grid-area: kira;
  }
} */