@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}

.testimonial-section {
  background-color: hsl(210, 46%, 95%);
  height: 100vh;
  font-family: 'Barlow Semi Condensed', monospace, /*TODO: note the font ater styling */
}

.testimonial-container {
  max-width: 920px;
  margin: auto;
  display: grid;
  grid-template-rows: 1.1fr;
  grid-template-areas: 
  'daniel daniel jonathan kira'
  'jeanette patrick patrick kira';
  grid-gap: 15px;
  /* justify-content: center;
  align-content: center; */
}

.daniel_card {
  grid-area: daniel;
}


.jonathan_card {
  grid-area: jonathan;
}

.kira_card {
  grid-area: kira;
}

.jeanette_card {
  grid-area: jeanette;
}

.patrick_card {
  grid-area: patrick;
}
